<link rel="stylesheet" href="form.css">
<link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Cairo:wght@700&display=swap" rel="stylesheet">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
    <div class="container">

<img  src="logo.jpg" alt="">

<form action="/" method="POST">

    <label for="name">: الاسم</label>

    <div class="inner">
          <input class="name" type="text" name="name"  >
    <input class="button" type="submit" value="إرسال">
    </div>
  
</form>




</div>



</body>
</html>

